
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    align-items: center;
    padding-top: 30px;
    background-color: #24afc1;
    color: #f8f8f8;
}

.container-navbar a{
    text-decoration: none;
    color: #f8f8f8;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 20px;
}

.navbar ul li a:hover {
    color: #1795a8;
}

.active {
    border-bottom: #f8f8f8 2px solid;
}

.home-page {
    background-color: #f8f8f8;
    padding: 20px 200px;
}

.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -100px;
}

.hero-banner p {
    font-size: 18px;
    
}

.hero-banner span {
    font-size: 32px;
    font-weight: 700;

}

.hero-banner img {
    width: 400px;
    height: 500px;
    border-bottom: #24afc1 5px solid;
}

.home-page button {
    padding: 10px 30px;
    background-color: #24afc1;
    border: 0;
    cursor: pointer;
    color: #f8f8f8;
    border-radius: 3px;
}

.home-page button:hover {
    background-color: #1795a8;
}

.container-footer {
    padding: 20px 200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    background-color: #24afc1;
    color: #f8f8f8;
}

.footer-items img {
    width: 30px;
    margin-left: 20px;
}