
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

/* Awal CSS navbar */
.container-navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    align-items: center;
    background-color: #24afc1;
    color: #f8f8f8;
}

.container-navbar a{
    text-decoration: none;
    color: #f8f8f8;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 20px;
}

.navbar ul li a:hover {
    color: #1795a8;
}

.active {
    border-bottom: #f8f8f8 2px solid;
}

/* Akhir CSS navbar */

/* Awal CSS home page */
.home-page {
    background-color: #f8f8f8;
    padding: 40px 200px;
    margin-bottom: 100px;
}

.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -100px;
}

.hero-banner p {
    font-size: 18px;
    
}

.hero-banner span {
    font-size: 32px;
    font-weight: 700;

}

.hero-banner img {
    width: 400px;
    height: 500px;
    border-bottom: #24afc1 5px solid;
}

.home-page button {
    padding: 10px 30px;
    background-color: #24afc1;
    border: 0;
    cursor: pointer;
    color: #f8f8f8;
    border-radius: 3px;
}

.home-page button:hover {
    background-color: #1795a8;
}

/* Akhir CSS home page */

/* Awal CSS footer */
.container-footer {
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: px;
    background-color: #24afc1;
    color: #f8f8f8;
}

.footer-items img {
    width: 30px;
    margin-left: 20px;
    padding: 3px;
}

.footer-items img:hover {
    background-color: #1795a8;
}
/* Akhir CSS footer */


/* Awal CSS about page */
.container-about {
    padding: 20px 200px;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 100px;
}

.about-img {
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
    
}

.container-about img {
    position: absolute;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;

}

/* Akhir CSS about page */

/* Awal CSS project page */
.container-project {
    padding: 50px 200px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    
}

.title-project {
    text-align: center;
}

.project-items {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 20px;
    margin-top: 50px;
    border-top: 2px solid #1795a8;
    border-bottom: 2px solid #1795a8;
    text-align: justify;
}

.project-items img {
    margin: auto;
    width: 400px;
    height: auto;
    margin-right: 30px;
    border-radius: 10px;
    
}
/* Akhir CSS project page */

/* Awal CSS contact Page */
.container-contact {
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}

.title-contact {
    text-align: center;
    letter-spacing: 2px;
}

.contact-form {
    margin-top: 50px;
    margin-bottom: -20px;
}

.contact-form input, textarea{
    width: 500px;
    padding: 8px 10px;
    outline: none;
    border: none;
    border-bottom: 3px solid #1795a8;
    background-color: transparent;
    font-size: 16px;
}

.container-contact button {
    padding: 10px 202px;
    background-color: #24afc1;
    border: 0;
    cursor: pointer;
    color: #f8f8f8;
    border-radius: 3px;
    margin-top: 70px;
}

.container-contact button:hover {
    background-color: #1795a8;
}

/* Akhir CSS contact Page */